:root {
    --primary: #f8e4c4;
    --secondary: #0f3c3d;
    --red: #f25118;
}

/* reset */
body,
p,
a,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    overflow-x: hidden;
    font-size: 20px;
}

body,
nav {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}


h1,
h2,
h3,
h4,
h5 {
    color: var(--secondary);
    font-weight: normal;
    line-height: 1.4em;
}

p,
li {
    color: var(--secondary);
    line-height: 1.4em;
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.1em;
}

p {
    font-size: 1em;
}

.button {
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    background-color: var(--secondary);
    color: var(--primary);
}


.button:hover {
    background-color: transparent;
    color: var(--secondary);
}

/* mobile styles */

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}