:root {
    --primary: #f8e4c4;
    --secondary: #0f3c3d;
    --red: #f25118;
}

/* reset */
body,
p,
a,
ul,
ol,
li,
h1,
h2,
h3.h4.h5,
h6,
.material-icons {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* base styles */

html {
    scroll-behavior: smooth;
}

body {
    color: var(--secondary);
    overflow-x: hidden;
    font-size: 16px;
    box-sizing: border-box;

}

body,
nav {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}



h1,
h2 {
    color: var(--secondary);
    line-height: 1.4em;
}

p {
    line-height: 1.4em;
    font-size: 1em;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 2.2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.4em;
}

p,
.material-icons {
    font-size: 1em;
}

.button,
.website-button,
.donate-button,
.inactive,
.search-button {
    padding: 0.5em 0.75em;
    border-radius: 8px;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
}


.search-button:hover {
    background-color: transparent;
    color: var(--secondary);
}

.button:active {
    background-color: var(--secondary);
    color: var(--primary);
}

.website-button {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--secondary);
}

.website-button:hover,
.donate-button:hover {
    background-color: transparent;
    color: var(--primary);
}

.donate-button {
    background-color: #ede621;
    border: 2px solid #ede621;
    color: var(--secondary);
}

.map-btn,
.list-btn {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.navbar {
    padding: 0.75em;
    background-color: var(--primary);
}

.loading-spinner-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3;

}

.loading-spinner {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 16px solid var(--primary);
    border-top: 16px solid var(--red);
    animation: loading 1s linear infinite;
    z-index: 4;

}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* mobile styles */

/* search section */
.search {
    position: relative;
    background-color: var(--primary);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 200%;
    height: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%) scale(0.5);
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    z-index: -1;
}

.search h2 {
    margin: 0;
    font-weight: 700;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-form input {
    width: 75%;
    margin: 1em 0;
    padding: 0.75em;
    border-radius: 8px;
    font-size: 1em;
}

.error {
    color: var(--red);
}

/* foodbank card */


.content {
    margin-top: 2em;
    padding: 2em;
}


.foodbank-card {
    border-radius: 8px;
    background-color: var(--secondary);
    padding: 1.5em;
    margin: 1.5em auto;
    color: var(--primary);
    width: 100%;
}

.foodbank-card-text {
    grid-column: 1/9;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.foodbank-card-text h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.foodbank-card-text-info h5 {
    margin-bottom: 0.5em;
}

.foodbank-card-text-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}


.foodbank-card-image {
    grid-column: 1/9;
    width: 100%;
    margin-top: 1.5em;
}

.foodbank-card-image img {
    width: 100%;
}

.foodbank-card p {
    margin: 0.25em 0;
    padding-right: 1em;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-row a {
    width: 100%;
    margin: 1em 0.75em 0 0.75em;
}

.view-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0 0;
}

.inactive {
    background-color: transparent;
    color: var(--secondary);
}


.needs-modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: block;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.needs-modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    border-radius: 10px;
    z-index: 2;
    height: fit-content;
    width: 80%;
    padding: 1em;
    overflow-y: scroll;
    max-height: 20em;
}

.needs-modal-content {
    overflow-y: scroll;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 100%;
    width: 100%;
}

.needs-modal-content li {
    font-size: 1em;
}

.needs-modal-content h6,
.needs-modal-content p {
    margin-bottom: 0.5em;
}



.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 4;
}


.line1,
.line2 {
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: var(--secondary);
    transform-origin: center;
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(-45deg);
}

.map-view {
    width: 100%;
    display: none;
    margin-top: 2em;
}

#map {
    width: 100%;
    height: 40em;
    grid-column: 1/9;
    margin: auto;
}


.leaflet-popup-content p {
    font-size: 1em;
    margin: 0;
}

.leaflet-popup-content h4 {
    font-size: 1.4em;
}

.leaflet-popup-content h5 {
    font-size: 1.1em;
    margin-bottom: 0;
}

footer {
    padding: 2em;
}

.footer-credit {
    grid-column: 2/8;
    margin: auto;
}

.footer-credit a,
.footer-credit a:hover,
.footer-credit a:active {
    color: var(--red);
}

.cjw {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.cjw a {
    color: #3f979a;
}

/* Media queries */

/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 20px;
    }
}

/* large tablet & laptop styles */
@media screen and (min-width: 905px) {
    .foodbank-card-text {
        grid-column: 1/5;
    }

    .foodbank-card-text h4 {
        margin-bottom: 0.75em;
    }

    .foodbank-card-image {
        grid-column: 5/9;
        margin-top: 0;
    }

    .foodbank-card p {
        margin: 0.5em 0;
    }
}

/* desktop & large laptop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 24px;
    }

}